{% extends "base.html" %}

{% load humanize %}

{% block content %}
    <h2>{{ box_num|ordinal }} Box</h2>
    <p>{{ flashcards|length }} Cards left in box.</p>
    {% if flashcards %}
        {% with flashcard=flashcards|first %}
            {{ flashcard.question }}
            {{ flashcard.answer }}
            <form action="{% url 'flashcards:quiz' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="flashcard_pk" value="{{ flashcard.id }}">
                <button name="answer" type="submit" value="True">I know</button>
                <button name="answer" type="submit" value="False">I don't know</button>
            </form>
        {% endwith %}
    {% endif %}
{% endblock %}