{% load project_tags %}
{% load static humanize project_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Flashcards App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<h1>Flashcards App</h1>
<div class="navbar">
    <div class="nav-item all-cards">
        <a href="{% url 'flashcards:index' %}">
            <img src="{% static 'assets/img/icons/cards.svg' %}" alt="cards" height="18" width="18">
            All Cards
        </a>
    </div>
    {% for box_id in "12345"|make_list %}
        <div class="nav-item box">
            <a href="{% url 'flashcards:box' box_id %}">
                <img src="{% static 'assets/img/icons/folder.svg' %}" alt="folder" height="18" width="18">
                {{ box_id|ordinal }} Box
                <span class="box-number">{% number_of_cards box_id %}</span>
            </a>
        </div>
    {% endfor %}
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>